*/.vs/
*/.vscode/
A-Eye_Controller/A-Eye_Controller/bin/
A-Eye_Controller/A-Eye_Controller/build/
A-Eye_Controller/A-Eye_Controller/obj/
A-Eye_Controller/SpecFlowProject1/bin/
A-Eye_Controller/SpecFlowProject1/build/
A-Eye_Controller/SpecFlowProject1/obj/
A-Eye_FPGA/conv_2d_vhdl/sim/
A-Eye_root/A-Eye_Communication/Circular_buffer
A-Eye_root/A-Eye_Communication/cmake_install.cmake
A-Eye_root/A-Eye_Communication/CMakeCache.txt
A-Eye_root/A-Eye_Communication/CMakeFiles
A-Eye_root/A-Eye_Communication/CMakeFiles/CMakeError.log
A-Eye_root/A-Eye_Communication/Interpreteur
A-Eye_root/A-Eye_Communication/Makefile
A-Eye_root/A-Eye_Communication/server
A-Eye_root/A-Eye_Communication/TC
A-Eye_root/A-Eye_Communication/TM
A-Eye_root/A-Eye_Visor/AI
A-Eye_root/A-Eye_Visor/cmake_install.cmake
A-Eye_root/A-Eye_Visor/CMakeCache.txt
A-Eye_root/A-Eye_Visor/CMakeFiles
A-Eye_root/A-Eye_Visor/json
A-Eye_root/A-Eye_Visor/Makefile
A-Eye_root/A-Eye_Visor/preprocess
airbus_train_bmp
A-Eye_root/temp.bmp
A-Eye_root/A-Eye_Visor/temp.bmp
A-Eye_root/temp.csv
A-Eye_root/A-Eye_Communication/CMakeFiles/CMakeError.log
A-Eye_root/.vscode/settings.json
.vscode/tasks.json
