**/.vs/
**/.vscode/
**/*.cmake
**/bin/
**/build/
**/CMakeCache.txt
**/CMakeFiles
**/doc/
**/obj/
A-Eye_FPGA/conv_2d_vhdl/sim/
A-Eye_root/.vscode/settings.json
A-Eye_root/A-Eye_Communication/Circular_buffer
A-Eye_root/A-Eye_Communication/Interpreteur
A-Eye_root/A-Eye_Communication/Makefile
A-Eye_root/A-Eye_Communication/server
A-Eye_root/A-Eye_Communication/TC
A-Eye_root/A-Eye_Communication/TM
A-Eye_root/A-Eye_Visor/AI
A-Eye_root/A-Eye_Visor/json
A-Eye_root/A-Eye_Visor/Makefile
A-Eye_root/A-Eye_Visor/preprocess
A-Eye_root/A-Eye_Visor/temp.bmp
A-Eye_root/temp.bmp
A-Eye_root/temp.csv
airbus_train_bmp
A-Eye_FPGA/vivado_project
**/__pycache__